test.jdbc.maxActive={{ test_maxActive }}
{% if test_db_embedded %}
test.embeddedDatabase.port={{ test_db_embedded_port | default('8080') }}
{% else %}
test.jdbc.username={{ test_db_user }}
test.jdbc.password={{ test_db_pass }}
{% endif %}
